svg {
  border: 1px solid #ccc;
}
.drag-handle {
  fill: #ccc; /* 三角形的填充颜色 */
  cursor: pointer;
  stroke: #999; /* 三角形的边框颜色 */
  stroke-width: 2; /* 三角形的边框宽度 */
}
.active-rect {
  fill: lightgreen; /* 活动进度的颜色 */
  cursor: pointer;
  rx: 10; /* 矩形的圆角 */
  ry: 10;
}
/* 样式定义左侧容器 */
.left-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%; /* 左侧容器宽度为右侧的一半 */
  height: 100vh; /* 高度与右侧容器相同 */
  overflow-y: hidden; /* 隐藏垂直滚动条 */
}
table {
  width: 100%; /* 表格宽度填满容器 */
  border-collapse: collapse; /* 移除表格和单元格之间的间距 */
}

th, td {
  border: 1px solid black; /* 单元格边框 */
}
/* 左侧单元格样式 */
.left-cell {
  text-align: center; /* 文本左对齐 */
  padding: 5px; /* 文本与单元格边界的距离 */
  height: 70px; /* 单元格的高度 */
  white-space: nowrap; /* 确保文本不会换行 */
}
/* 修改右侧容器样式 */
.right-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%; /* 右侧容器宽度为左侧的一半 */
  height: 100vh; /* 高度与左侧容器相同 */
  overflow-y: auto; /* 允许右侧容器垂直滚动 */
}
.placeholder {
  display: none; /* 隐藏或移除这个元素，因为它可能会占据顶部空间 */
}
.drag-handle {
  fill: #ccc; /* 三角形的填充颜色 */
  cursor: pointer;
  stroke: #999; /* 三角形的边框颜色 */
  stroke-width: 2; /* 三角形的边框宽度 */
}
.active-rect {
  fill: lightgreen; /* 222活动进度的颜色 */
  cursor: pointer;
  rx: 10; /* 111矩形的圆角 */
  ry: 10;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 10px;
}
.weekend-text {
  fill: lightgrey;
}
.svg-container {
  position: relative;
  width: 100%;
  overflow-x: scroll; /* 这使得容器在水平方向上可滚动 */
  white-space: nowrap; /* 这确保了所有的内容都在一行内，从而可能导致滚动 */
}
.control-button {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 12px;
  position: fixed;
  top: 10px;
  z-index: 10;
}
#today-button {
  right: 50px;
}
#scroll-left {
  right: 100px;
}
#scroll-right {
  right: 10px;
}
.dropdown {
  position: fixed;
  top: 17px; /* 与按钮的顶部对齐 */
  right: 150px; /* 与页面右侧保持一定的距离 */
  z-index: 1000; /* 确保下拉框在最上面 */
}
